.box-design {
  margin: 10px;
  border: 1px solid greenyellow;
  width: 20%;
  padding: 20px;
  text-align: center;
}

.heading-main {
  text-align: center;
  color: lightgreen;
}
.main-container-child {
  display: flex;
}
.main-container-sub-child {
  margin: 40px 5rem 0px 5rem;
  border: 1px solid white;
  width: 70%;
}

.parent-bar {
  /* color: white; */
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.child-bar {
  text-align: left;
  width: 45%;
  border: 1px solid white;
}


/* skill-bar */

/* chatGPT: */

.skills-section {
  padding: 40px;
}

.skill {
  margin-bottom: 20px;
}

.skill-bar {
  width: 100%;
  height: 10px;
  background-color: #eee;
  /* border-radius: 10px; */
  overflow: hidden;
}

.skill-fill {
  height: 100%;
  background-color: #4c98af; /* Green color for filled skill bars */
  /* border-radius: 10px; */
  transition: width 2s ease-out; /* Smooth transition when filling */
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
