#img-size {
    width: 150px;
    height: 150px;
    border-radius: 50%
}

.container {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;

}

.container-child {

    border: 1px solid red;
    margin-right: 500px;
    margin-left: 10%;
}

.experience-container ul {
    list-style-type: decimal;
    display: flex;
    gap: 50px;
    justify-content: center;

}

#list-style {
    display: inline-block
}

.container-box {
    display: flex;
    justify-content: center;
}

.mini-box {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid red;
}
.footer-container{
    text-align: center;

}
/* yugygyigyigi */