.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-content li {
  margin: 0px 10px 10px 10px;
  display: inline-block;
  list-style: none;
}
/* Default Light Mode */
body {
  background-color: white;
  color: black;
  transition: all 0.3s ease-in-out;
}
/* navbar text light-mode or dark-Mode */
body.light a {
  text-decoration: none;
  color: black;
}

body.dark a {
  text-decoration: none;
  color: white;
}
/* navbar text dark-mode */
/* Dark Mode */
body.dark {
  background-color: black;
  color: white;
}

/* body.light a {
  color: black;
  text-decoration: none;
} */
/* Button Style */
button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
}

body.dark button {
  background-color: white;
  color: black;
}

.menu-toggle {
  font-size: 2rem;
  cursor: pointer;
  display: block;
}

/* media-query */

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .nav-links {
    display: flex !important;
    position: static;
    flex-direction: row;
    gap: 20px;
    background: none;
    width: auto;
  }
}
