.parent-container {
    margin-left: 3%;
}

.project-parent {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project-card-1 {


    width: 800px;
    height: 400px;
    border: 1px solid greenyellow;
}
.project-card-2{
    width: 200px;
    height: 400px;
    border: 1px solid greenyellow;
}